---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, and welcome to ShriJee Consultants!</h1>
			<p>
				ShriJee Consultants is a Bengaluru-based architecture and interior design firm, founded by COA-licensed architect **Ankit Saraf**. With over 8 years of experience, we specialize in delivering thoughtful and functional design solutions across **Southern India**.
			</p>
			<p>
				We generate value to your Assets.
			</p>
			<p>
				This website is built to help our customers to review & lookup our work done so far in our journey of making our customers' dream and serves as a space where we share our latest work, ideas, and insights in architecture and interior design.
			</p>
			<p>
				Get started by exploring our latest blog posts, learning more about our services, or connecting with us online or over WhatsApp @ <b>+919311577496</b>.
			</p>
			<p>
				Thank you for visiting!
			</p>
		</main>
		<Footer />
	</body>
</html>
